<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navar navar-expang-lg navbar-dark bg-dark">
        <div class="container">
          <table class="table table-striped">
            <tr>
              <td>
                <%= link_to "Bookers", root_path,class: "text-white" %>
              </td>


              <% if user_signed_in? %>
              <td>


                <%= link_to user_path(current_user.id),class: "text-white" do %>
                <i class="fas fa-home"></i>Home
                <% end %>

              </td>
              <td>
                
                <%= link_to users_path,class: "text-white" do %>
                <i class="fas fa-users"></i>Users
                <% end %>
              </td>
              <td>
                
                <%= link_to books_path,class: "text-white" do %>
                <i class="fas fa-book-open"></i>Books
                <% end %>
              </td>
              <td>
                
                <%= link_to destroy_user_session_path,class: "text-white", method: :delete do %>
                <i class="fas fa-sign-out-alt"></i>Log out
                <% end %>
              </td>
              <% else %>
              <td>
               

                <%= link_to root_path,class: "text-white" do %>
                <i class="fas fa-home"></i>Home
                <% end %>
              </td>
              <td>
                
                <%= link_to home_about_path,class: "text-white" do %>
                <i class="fas fa-link"></i>About
                <% end %>
              </td>
              <td>
                
                <%= link_to new_user_registration_path,class: "text-white" do %>
                <i class="fas fa-user-plus"></i>Sign up
                <% end %>
              </td>
              <td>
                
                <%= link_to new_user_session_path,class: "text-white" do %>
                <i class="fas fa-sign-in-alt"></i>Log in
                <% end %>
              </td>
            </tr>
              <% end %>
          </table>
        </div>
      </nav>
    </header>
    <main>
      <%= yield %>
    </main>
    <footer>
      <div class="container mt-5">
        <div class="row">
          <div class="mx-auto">
            <p>CopyRight Infratop.inc</p>
          </div>
        </div>
      </div>

    </footer>

  </body>
</html>
